doctype html
html(lang="ja")
  head
    title test
    meta(charset="UTF-8")
    link(rel="stylesheet" href="/src/styles/layers.css")
    link(rel="stylesheet" href="/src/styles/reset.css")
    link(rel="stylesheet" href="/src/styles/token.css")
    link(rel="stylesheet" href="/src/styles/base.css")
    script(src="/src/scripts/main.ts" type="module")
  body
    h1 Heading
    p Paragraph
    p
      a(href="/") a link
    div
      img(src="/public/assets/images/vite.svg" alt="")
    div
      img(src="/src/images/dummy.jpg" width="400" alt="")
